*{
    margin: 0%;
    font-family: arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon\ realllll.jpg") ;
    background-size: cover;
    height: 50px;
    width:100px;
    
    
    border-color:white ;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid white;

/* box2 */

}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:15px;
    padding:5px;
}
.add-first:hover{
    border:2px solid white;
    margin: 0px;
    padding: 5px;
}
.add-second{
    font-size:1rem;
    margin-left:3px;

}
.add-icon{
    display:flex;
    align-items: center;
}

/* box3 */

.navsearch{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.navsearch:hover{
    border: 2px solid orange;
}
.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.searchinput{
    width:100%;
    font-size: 1rem;
    border:none;
}
.searchicon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* box4 */



span{
    font-size:  0.7rem;
}
span:hover{
    border:2px solid #cccccc;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.navcart i{
    font-size: 30px;
}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel design navbar k neeche baala */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}
.panelall:hover{
    border:2px solid white;
    margin: 10px;
    padding: 10px;
}

.panel-option p{
    
    display: inline;
    margin-left: 15px;

.panel-option:hover{
    border:2px solid white;
    
    padding: 10px;
}
    
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals:hover{
    font-size: 0.9rem;
    font-weight: 700;
    border:2px solid white;
    margin: 10px;
    padding: 10px;

}

/* hero image section */

.herosection{
    background-image: url("heroimg.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:  flex-end;

}
.heromsg{
    background-color: white;
    color: black;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-bottom: 10px;
}
/* shop section */
.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: rgb(158, 242, 245);
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;


}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontent p{
    color: #007185
}

/* footer */

footer{
    margin-top: 15px;
}

.footpanel1 { 
     width:1000;
     height:49;
     padding: 15px;
     color: #ffffff;
     font-size:13px;
     text-align: center;
     background-color: #37475a;
     line-height: 19px;
}

.footpanel2 {
    background-color: #232f3e;
    color: white;
    height: 301px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

 ul{
    margin-top: 10px;
 }

ul a{
    display: block;
    margin-top: 15px;
    font-size: 0.85rem;
    color: #dddddd;
    justify-content: center;
    align-items: center;
}

.footpanel3{
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 68;
    font-size: 12px;
    
}

hr{
    background-color: #0f1111;
    
}
.logo{ background-image: url("amazon\ realllll.jpg") ;
    background-size: cover;
    height: 50px;
    width:100px;
    border-color: black ;
    padding: 3px;
}

.footpanel4{
    background-color: #0f1111;
    color:white;
    height: 76;
    width: 100%;
   /*  display: flex;
    justify-content: center;
    align-items: center; */
   
}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;


}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}